@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8fafc; /* Tailwind slate-50 */
  color: #0f172a; /* Tailwind slate-900 */
}
